img {
  display: block;
  width: 100%;
}

html {
  /* 1rem = 10px */
  font-size: 62.5%;
}

body {
  font-family: sans-serif;
  /* 16px */
  font-size: 1.6rem;

  /*  moi them  */
  font-weight: 400;
  line-height: 1.5;
  color: #343a40;
  text-align: left;
}

.container {
  width: 128.7rem;
  max-width: 128.7rem;
  margin: 0 auto;
}

*,
::after,
::before {
  box-sizing: border-box;
}

a {
  transition: all 0.1s ease-in-out;
  text-decoration: none;
}

.fa {
  width: 1.6rem !important;
  height: 1.6rem !important;
}

:root {
  --primary: #bd1723;
  --dark: #212529;
  --gray: #555555;
  --light: #e9ecef;
  --secondary: #6c757d;
  --white: #fff;
}

@media screen and (min-width: 1366px) {
  .container {
    width: 1287px;
    max-width: 1287px;
  }
}
